################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/watcher/v15
/packages
/WatcherUI/bin
/WatcherUI/obj
/watcher
